@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jacques+Francois+Shadow&family=Playpen+Sans:wght@100..800&display=swap');
/* ROOT*/
.section-heading{
  margin: 3% 0 3% 0;
  padding-left: 5%;
}
.section-heading::after{
  content: "";
  width: 15%;
  height: 2.5px;
  position: absolute;
  left: 250px;
  /* bottom: -85px; */
  background: linear-gradient(64.5deg, rgb(245, 116, 185) 14.7%, rgb(89, 97, 223) 88.7%);
}

.divider{
  width: 100%;
  height: 1px;
  background: linear-gradient(64.5deg, rgb(245, 116, 185) 14.7%, rgb(89, 97, 223) 88.7%);
}

/* PROADER */
.preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* NAVBAR */
.navbar-brand{
  font-size: 30px !important;
  color: #FFF !important;
}
.nav-body{
  background-color: rgb(23, 7, 43) ;
  box-shadow: 0px 5px 10px rgb(75, 75, 75);
  
}

.navbar-nav a{
  color: #FFF;
  margin: 0 20px 0 20px;
}
.navbar-nav a:hover{
  color: #29c96a;
}
.navbar-brand img{
  width: 7vw;
  height: 7vh;
}

/* Home Container */
/* #home{
  min-height: 150px;
} */
.home-container {
  display: flex;
  min-height: 90vh;
}


/* Sidebar Styles */
.sidebar {
  position: relative;
  width: 80px;
  /* background-color: #0a0f1a; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.5rem 0 0 0;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin: 15px 0;
}

.social-icons a {
  font-size: 20px;
  color: #c4c4c4;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #34eb83;
}

.follow-me-label {
  position: absolute;
  bottom: 100px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.follow-me-label span {
  font-size: 18px;
  background-color: #1a1e2b;
  color: #c4c4c4;
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}

.follow-me-label::after{
  content: "";
  position: absolute;
  height: 80%;
  width: 2px;
  margin: 15px 0;
  right: 13px;
  top: 100px;
  background: hsla(0,0%,100%,.85);
  z-index: -1;
}

.follow-me-label span:hover {
  background-color: #ffffff;
  color: #1a1e2b;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content h1 {
  font-size: 48px;
  margin: 0;
  color: #9067C6;
}
.main-content h4 {
  
  color: #fff;
}

.main-content h1 span {
  color: #34eb83;
}

.main-content h2 {
  font-size: 32px;
  margin: 10px 0;
  color: #34eb83;
}

.main-content p {
  font-size: 18px;
  color: #c4c4c4;
  margin: 10px 0 30px 0;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.get-resume {
  background-color: #34eb83;
  color: #0a0f1a;
  border-radius: 4px;
}

.get-resume:hover {
  background-color: #29c96a;
}

/* .about-me {
  background-color: transparent;
  color: #34eb83;
  border: 2px solid #34eb83;
  border-radius: 4px;
}

.about-me:hover {
  background-color: #34eb83;
  color: #0a0f1a;
} */



/* ABOUT ME */
#about{
  color: #FFF;
  margin-bottom: 5%;
}

.about-me{
  padding-top: 5%;
  text-align: justify;
}
.skill-set{
  margin: 0;
}
.skill-set ul{
  margin: 0 !important;
}
.skills-set ul li{
  display: inline-block;
  margin-right: 3%;
}
.skill-arrow{
  margin-right: 10px;
  color: #430289;
}
.self-img{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.self-img img{
  width: 32vw;
  height: 60vh;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.self-img img:hover{
  scale: 1.1;
  transition: 0.3s ease-in-out;
}
/* SKILL */
#skill{
  color: #FFF;
  margin-bottom: 3%;
}

/* .skill-set{
  cursor: pointer;
} */

.skill-set{
  cursor: pointer;
  border-radius: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  height: max-content;
  padding: 25px;
}
.skill-set h3{
  text-decoration: underline;
}
.skill-set .skill-set-des{
  font-size: 15px;
}
.skill-set .skill-set-number p{
  font-size: 32px;
}
.skill-set .skill-set-number::before{
  content: "";
  position: absolute;
  height: 15%;
  width: 3.4px;
  margin: 15px 0;
  left: 10px;
  top: 9px;
  background: hsla(0,0%,100%,.85);
  z-index: -1;
}
.skill-set .skill-set-number::after{
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  margin: 15px 0;
  left: 100px;
  top: 31px;
  background: linear-gradient(64.5deg, rgb(245, 116, 185) 14.7%, rgb(89, 97, 223) 88.7%);
  z-index: -1;
}
.skill-set:hover{
  transition: 0.3s ease-in-out;
  background: rgba(255, 55, 255, 0.1);
  backdrop-filter: blur(10px);
  scale: 1.1;
}



/* PROJECT */
#project{
  color: #FFF;
  margin-bottom: 3%;
}
.project-show-area{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.projectCard-body{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width:250px;
  height:350px;
  /* padding: 35px; */
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.projectCard-body:hover{
  scale: 1.1;
  box-shadow: 2px 7px 10px rgb(157, 101, 225);
  transition: 0.3s ease-in-out;
}

.Pcard-top{
  height:155px;
  position: relative;
  top: 0%;
}
.Pcard-top img{
  width:100%;
  height:100%;
  object-fit:cover;
}


.Pcard_content{
  text-align:center;
    padding: .9em .9em;
}
.Pcard_content h2{
  font-weight:700;
    font-size: 1.1em;
}
.Pcard_content h5{
  font-weight:400;
  margin:5px 0 20px;
  font-size: .9rem;
}

.Pcard_content p{
  text-align: left;
}

.Pcard_content p span{
  margin-right:10px;
}
.Pcard_link{
  position: absolute;
  bottom: 20px;
  left: 70px;
}
.Pcard_content .project-btn{
  
  color: #FFF;
  background-color: #000;
  padding: 9px 30px 10px 30px;
  display:inline-block;
  border: none;
  border-radius: 5px;
  /* margin-top: 2em; */
}
.Pcard_content .project-btn:hover{
 background:rgba(0,0,0,0.7);
 color: var(--hoverlink-color);
}
.project-modal-img img{
  width: 50vw;
  height: 25vw;
  border: 2.7px solid #000;
}
.modal-body a{
  text-decoration: none;
  background: linear-gradient(64.5deg, rgb(245, 116, 185) 14.7%, rgb(89, 97, 223) 88.7%);
  padding: 6px;
  color: #FFF;
  border-radius: 7px;
}
.modal-body a:hover{
  background: linear-gradient(64.5deg, rgb(89, 97, 223) 14.7%, rgb(245, 116, 185) 88.7%);
}

/* CONTACT */
#contact{
  color: #FFF;
  margin-bottom: 3%;
}
.contact-at{
  opacity: .3;
}
.contact-des{
  text-align: justify;
  padding-top: 5%;
}
.contact-textIN{
 padding-left: 95px;
}

.contact-textIN h1{
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: underline;
}
.contact-details{
  font-size: .9rem;
}



/* Footer section */
footer{
  font-family: "Playpen Sans", system-ui !important;
}
#footer{
  color: #fff;
}
.footer_icons{
  display: flex;
  justify-content: center;
}
.footer_icons i{
  /* float: right; */
  font-size: 20px;
  margin: 0 0 0 20px;
  cursor: pointer;
}
.footer_icons a{
  color: #FFF;
}
.footer_icons i:hover{
  color: rgb(112, 112, 112);
}
.love_symble{
  color: #f11515;
}




/* MOBILE SCREEN */
@media  screen and (max-width: 480px) {
  .navbar-brand{
    font-size: 25px !important;
  }
  .container{
    width: 100%;
    margin: 0 !important;
  }
  .home-container{
    display: inline-flex;
    min-height: 40vh;
  }
  .main-content{
    display: inline;
    position: absolute;
    top: 70px;
  }
  .main-content h1{
    font-size: 22px;
  }
  .main-content h4{
    font-size: 15px;
  }
  .sidebar{
    width: 100%;
    position: absolute;
    bottom: 10px;
  }
  .follow-me-label{
    writing-mode: horizontal-tb;
    transform: rotate(360deg);
  }
  .follow-me-label span{
    font-size: 14px;
  }
  .follow-me-label::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 80%;
    margin: 15px 0;
    left: 95px;
    top: -3px;
    background: hsla(0,0%,100%,.85);
    z-index: -1;
  }
  .follow-me-label::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 80%;
    margin: 15px 0;
    right: 95px;
    top: -3px;
    background: hsla(0,0%,100%,.85);
    z-index: -1;
  }
  .social-icons{
    position: absolute;
    bottom: 35px;
  }
  .sidebar ul li{
    display: inline;
    margin: 0 10px 0 10px;
  }
  .navbar-brand{
    padding-bottom: 0;
  }
  .navbar-brand img{
    width: 17vw;
    height: 2vh;
  }
  .self-img img{
    width: 75vw;
    height: 40vh;
  }
  .contact-textIN{
    padding: 0;
  }
  .footer-name {
    text-align: justify;
    font-size: 10px;
  }
  .footer-love{
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer_icons{
    display: inline;
  }
  .footer_icons i{
    margin: 0 10px 0 0;
    font-size: 15px;
  }
  .align-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-show-area{
    
    margin-bottom: 7%;
  }
  .project-show-area:nth-child(1){
    margin-top: 7% !important;
  }
  .preloader{
    width: 240px;
    font-size: 17px;
    height: 120h;
  }
  .contact-des{
    margin-bottom: 30px;
  }
  .section-heading::after{
    left: 150px;
  }
  .navbar-nav a{
    color: #29c96a;
    margin: 0 20px 0 20px;
  }
  /* PROJECT CARD */
  .projectCard-body{
    width: 245px;
    height: 325px;
  }
  .Pcard_content{
    text-align: left;
  }
  .Pcard_content h5{
    font-size: 0.7rem;
  }
  .project-modal-img img{
    width: 50vw;
    height: 25vw;
    border: 2.7px solid #000;
  }
  #about{
    margin-bottom: 10%;
  }
}

@media  screen and (max-width: 720px) {
  .container{
    width: 100%;
    margin: 0 !important;
  }
  .home-container{
    display: inline-flex;
    min-height: 45vh;
  }
  .main-content{
    display: inline;
    position: absolute;
    top: 70px;
  }
  .main-content h1{
    font-size: 22px;
  }
  .main-content h4{
    font-size: 15px;
  }
  .sidebar{
    width: 90%;
    position: absolute;
    bottom: 450px;
  }
  .follow-me-label{
    writing-mode: horizontal-tb;
    transform: rotate(360deg);
  }
  .follow-me-label span{
    font-family: 15px;
  }
  .follow-me-label::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 80%;
    margin: 15px 0;
    left: 95px;
    top: -3px;
    background: hsla(0,0%,100%,.85);
    z-index: -1;
  }
  .follow-me-label::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 80%;
    margin: 15px 0;
    right: 95px;
    top: -3px;
    background: hsla(0,0%,100%,.85);
    z-index: -1;
  }
  .social-icons{
    position: absolute;
    bottom: 35px;
  }
  .sidebar ul li{
    display: inline;
    margin: 0 10px 0 10px;
  }
  .navbar-brand{
    padding-bottom: 0;
  }
  .navbar-brand img{
    width: 17vw;
    height: 2vh;
  }
  .contact-textIN{
    padding: 0;
  }
  .footer-name {
    text-align: justify;
    font-size: 10px;
  }
  .footer-love{
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer_icons{
    display: inline;
  }
  .footer_icons i{
    margin: 0 10px 0 0;
    font-size: 15px;
  }
  .about-me p{
    font-size: 12px;
  }
  .skill-set ul li{
    font-size: 10px;
  }
  .self-img img{
    width: 75vw;
    height: 40vh;
  }
  .contact-textIN h1{
    font-size: 1rem;
  }
  .contact-textIN p{
    font-size: 0.8rem;
  }

  /* PROJECT CARD */
  .projectCard-body{
    width: 245px;
    height: 325px;
  }
  .Pcard_content{
    text-align: left;
  }
  .Pcard_content h5{
    font-size: 0.7rem;
  }
  .project-modal-img img{
    width: 87vw;
    height: 40vw;
    border: 2.7px solid #000;
  }
  #about{
    margin-bottom: 10%;
  }
}



/* PRELOADER */
.preloader {
  height: 100vh;
  height: calc(var(--vh, 1.5vh) * 100);
  width: 100%;
  background: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  overflow: hidden !important;
}
  .texts-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      width: 280px;
      font-size: 20px;
      overflow: hidden;
      font-weight: 800;
      opacity: 0;
      color: #FFF;
  }

      